<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Register | WhatsAdvertiser</title>
  </head>
  <body>
    <h2>Sign Up</h2>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button>Submit</button>
    </form>

  </body>
</html>
